@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

:root {
    --color1: rgb(255, 237, 210);
    --color2: rgb(32, 31, 45);
    --color3: rgb(0, 0, 0, 0.9);
    --color4: rgb(0, 0, 0, 0.9);
    --color5: rgb(21, 45, 69);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;    
}

body {
    height: 100vh;
    overflow: hidden;   
}

#hero-image {    
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
    background-size: contain;
    z-index: -1;
    bottom: 0;
    position: absolute;
    height: 100vh;
    width: 100%;    
    display: flex;
}

.game-title {
    text-align: center;
    font-family: "Harry Potter", sans-serif;
    padding: 10px;
    font-size: 300%;
    color: var(--color1);
}

.feature {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 150%;
    font-weight: 700;
    color: var(--color1);
}

.memory-game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    margin: 20px;
    justify-content: center;
    perspective: 1000px;
}

.feature-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

}

.card {
    position: relative;
    height: 150px;
    width: 110px;
    background-color: var(--color2);
    outline: 2px solid var(--color1);
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
    cursor: pointer;
    border-radius: 5%;
}

.card:hover {
    box-shadow: 0 0 10px var(--color1),
                0 0 20px var(--color1);
}

.flip {
    transform: rotateY(180deg)
}

.card-front, .card-back {
    object-fit:contain;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.restart-button {
    grid-row: 6 / 7;
    grid-column: -5 / -1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 170%;
    font-weight: 700;
    color: var(--color1);    
}

.restart-button:hover {
    text-shadow: 0 0 10px var(--color1),
                 0 0 20px var(--color1),
                 0 0 40px var(--color1),
                 0 0 80px var(--color1);
}

#overlay-win-game .restart-button{
    animation: glow 1s ease-in-out infinite alternate;
}

#overlay-win-game .restart-button:hover {
    animation-duration: 0s;
  }

.win-game {
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    color: var(--color1);
    flex-direction: column;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: var(--color4);
}

#overlay-win-game > h2  {
    font-size: 250%;
    font-weight: 700;
}

#overlay-win-game > p  {
    font-size: 130%;
}


.win-game.visible {
    display: flex
}

#win-hat {
    height: 200px;
    width: 200px;
    margin: auto;
}

.social {
    text-align: center;
    font-size: 200%;
    color: var(--color1);
    margin-top: 50px;
}

.social a {
    color: var(--color1);
}

/* Styling 404.html error page */

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: var(--color5);
    color: var(--color1)
}

.error-image {
    width: 100px;
    height: 100px;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.error-image {
    position: relative;
}

.error-message span {
    font-size: 800%;
    font-family: 'Yusei Magic', sans-serif;
}

.error-text {
    text-align: center;
    font-size: 120%;
    font-family: 'Yusei Magic', sans-serif;
}

#back-button {
    margin-top: 10px;
}

.error-text a {
    text-decoration: underline;    
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Yusei Magic', sans-serif;    
    
    color: var(--color1);
    font-size: 170%;
}

.error-text a:hover {
    text-shadow: 0 0 10px var(--color1),
                 0 0 20px var(--color1),
                 0 0 40px var(--color1),
                 0 0 80px var(--color1);
}

/* Keyframe for glowing Restart button */

@keyframes glow {
    from {
        text-shadow: 0 0 30px var(--color1),
                     0 0 50px var(--color1),
                     0 0 60px var(--color1);
    }
    to {
        text-shadow: 0 0 10px var(--color1),
                     0 0 20px var(--color1),
                     0 0 40px var(--color1);
    }
  }

/* Media queries */

@media (max-width: 1600px) {
    .game-title {
        font-size: 200%;
    }

    .card {
        height: 110px;
        width: calc(110px/15*11)
    }

    .feature {
        font-size: 100%;
    }

    .restart-button {
        font-size: 130%;
    }

    #hero-image{
        background-size: cover;
    }

    .social {
        margin-top: 20px;
        font-size: 150%;
    }

}

@media (max-width: 500px) {
    .memory-game-container{
        margin: 10px;
    }

    .game-title {
        font-size: 200%;
    }

    .card {
        height: 90px;
        width: calc(90px/15*11)
    }

    .feature {
        font-size: 80%;
    }

    .restart-button {
        font-size: 120%;
    }

    #hero-image{
        background-image: url(../images/background-mobile.png);        
        background-repeat: no-repeat;
        background-size: auto;
        height: 100vh;
        width: 100%;
        background-size: cover;
    }

    .social {
        margin-top: 20px;
        font-size: 100%;        
    }

    .body {
        overflow: scroll;
    }

    #overlay-win-game > h2  {
        font-size: 200%;
        font-weight: 700;
    }

    #overlay-win-game > p  {
        font-size: 120%;
    }
}

@media (max-width: 350px) {
    .memory-game-container{
        margin: 10px;
    }

    .game-title {
        font-size: 130%;
    }

    .card {
        height: 90px;
        width: calc(90px/15*11)
    }

    .feature {
        font-size: 80%;
    }

    .restart-button {
        font-size: 100%;
    }

    #hero-image{
        background-image: url(../images/background-mobile.png);        
        background-repeat: no-repeat;
        background-size: auto;
        height: 100vh;
        width: 100%;
        background-size: cover;
    }

    .social {
        margin-top: 5px;
        font-size: 100%;        
    }

    .body {
        overflow: scroll;
    }

    #overlay-win-game > h2  {
        font-size: 200%;
        font-weight: 700;
    }

    #overlay-win-game > p  {
        font-size: 120%;
    }
}

/* Implementing media query for mobile landscape mode orientation */
@media screen and (orientation: landscape) and (max-height: 400px) {
    .memory-game-container{
        grid-template-columns: repeat(8, auto); 
        margin: 10px;
        grid-gap: 10px
    }

    .game-title {
        font-size: 150%;
    }

    .card {
        height: 90px;
        width: calc(90px/15*11)
    }

    .feature {
        font-size: 80%;
    }

    .restart-button {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        font-size: 100%;
    }

    #hero-image{
        background-image: url(../images/background.png);          
        background-size: contain;
    }

    .social {
        margin-top: 5px;
        font-size: 100%;        
    }

    #overlay-win-game > h2  {
        font-size: 200%;
        font-weight: 700;
    }

    #overlay-win-game > p  {
        font-size: 120%;
    }
}