* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: orange;
}

h1 {
    text-align: center;
}

.memory-game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card {
    height: 200px;
    width: 150px;
    background-color: black;
}