* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: orange;
}

h1 {
    text-align: center;
}

.memory-game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    border: 2px solid lime;
    perspective: 1000px
}

.card {
    position: relative;
    height: 200px;
    width: 150px;
    background-color: rgb(32, 31, 45);
    border: 2px solid magenta;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
}

.flip {
    transform: rotateY(180deg)
}

.card-front, .card-back {
    object-fit:contain;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}